@import './../../styles.scss';

@media screen and (min-width: 800px) {
    .cursor {
        position: fixed;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        background-color: #3DCFB6;
        pointer-events: none;
        box-shadow: 0 0 70px 35px #3DCFB6;
        transform: translate(-50%, -50%);
        transition: transform 0.05s ease;
        z-index: 0;
    }
}

.up-btn {
    position: fixed;
    border: 1px solid #3dcfb6;
    border-radius: 50%;
    padding: 8px;
    height: 48px;
    width: 48px;
    right: 32px;
    bottom: 32px;
    backdrop-filter: blur(4px);
    transition: all 0.3s ease-in-out;

    svg {
        fill: #fff;
        transition: transform 0.2s ease-in-out;
    }

    &:hover {
        background-color: rgba(61, 207, 182, 0.1);

        svg {
            transform: translateY(-3px);
        }
    }
}