<header>
    <div class="header-wrapper">
        <section>
            <div class="burger-menu" [class.active]="isMenuOpen" (click)="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <nav [ngClass]="{ 'active': isMenuOpen }">
                <div>
                    <a href="#section-2" class="hover-dot">{{ 'header.ABOUTME' | translate }}</a>
                    <a href="#section-3" class="hover-dot">{{ 'header.SKILLS' | translate }}</a>
                    <a href="#section-4" class="hover-dot">{{ 'header.PROJECTS' | translate }}</a>
                </div>
                <div class="switch">
                    <input [checked]="isEnglish" (change)="toggleLanguage()" id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox">
                    <label for="language-toggle"></label>
                    <span class="on">DE</span>
                    <span class="off">EN</span>
                </div>
            </nav>
        </section>

        <picture class="logo" (click)="visitStartpage()">
            <source media="(min-width:850px)" srcset="./assets/img/myLogo.svg">
            <source media="(max-width:849px)" srcset="./assets/img/myLogo-small.svg">
            <img src="./assets/img/myLogo.svg" alt="Logo Lukas Schröer" style="width:auto;">
        </picture>
    </div>
</header>