<div class="overlay" *ngIf="show" (click)="close()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <span class="close-btn" (click)="close()">×</span>
    <div>
      <h4>{{ project?.id }}</h4>

      <h2 class="dialog-title">{{ project?.title }}</h2>

      <h3>Worum geht es in diesem Projekt?</h3>

      <p class="dialog-description">{{ project?.description }}</p>

      <ul *ngIf="project?.technologies">
        <li *ngFor="let tech of project.technologies" class="{{ tech }}">{{ tech }}</li>
      </ul>

      <div class="ref-btn-row">
        <button>GitHub</button>
        <button>Live Test</button>
      </div>
    </div>
    
    <img *ngIf="project?.image" [src]="project.image" [alt]="project.title" />

  </div>
</div>