<div class="overlay" *ngIf="show" (click)="close()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <span class="close-btn" (click)="close()">×</span>
    <a class="next-btn" (click)="next()">
      {{ 'sectionFour.nextProject' | translate }}
    </a>

    <div>
      <h4>{{ translatedProject?.id }}</h4>

      <h2 class="dialog-title">{{ translatedProject?.title }}</h2>

      <h3>{{ 'sectionFour.projectIntro' | translate }}</h3>

      <p class="dialog-description">{{ translatedProject?.description }}</p>

      <ul *ngIf="translatedProject?.technologies">
        <li *ngFor="let tech of translatedProject.technologies | keyvalue" class="{{ tech.value }}">
          {{ tech.value }}
        </li>
      </ul>

      <div class="ref-btn-row">
        <button class="link-btn" *ngIf="urlGit !== '#'" (click)="openLink(urlGit)">GitHub</button>
        <button class="link-btn" *ngIf="urlP !== '#'" (click)="openLink(urlP)">Live Test</button>
      </div>
    </div>

    <img *ngIf="translatedProject?.image" [src]="translatedProject.image" [alt]="translatedProject.title" />
  </div>
</div>