<section>
    <div class="left">
        <div>{{ 'sectionSix.contactMe' | translate }}</div>
        <h2>{{ 'sectionSix.together' | translate }}</h2>

        <h3>{{ 'sectionSix.problem' | translate }}</h3>
        <p>{{ 'sectionSix.formIntro' | translate }}<br>
            <br>
            {{ 'sectionSix.inNeed' | translate }}
            <span>{{ 'sectionSix.letsTalk' | translate }}</span>
        </p>
    </div>
    <form class="right">
        <div class="input-wrapper" (click)="focusInput(nameInput)">
            <label for="nameInput">{{ 'sectionSix.form.name' | translate }}</label>
            <input id="nameInput" required #nameInput type="text" placeholder="{{ 'sectionSix.form.namePH' | translate }}" />
        </div>

        <div class="input-wrapper" (click)="focusInput(emailInput)">
            <label for="emailInput">{{ 'sectionSix.form.mail' | translate }}</label>
            <input id="emailInput" required #emailInput type="text" placeholder="{{ 'sectionSix.form.mailPH' | translate }}" />
        </div>

        <div class="input-wrapper" (click)="focusInput(messageInput)">
            <label for="messageInput">{{ 'sectionSix.form.matter' | translate }}</label>
            <textarea id="messageInput" required #messageInput
                placeholder="{{ 'sectionSix.form.matterPH' | translate }}"></textarea>
        </div>

        <div class="confirm-wrapper">
            <input id="confirm-cb" type="checkbox" required />
            <label for="confirm-cb">
                {{ 'sectionSix.form.legalNotice1' | translate }}
                <a (click)="visitImprint()">{{ 'sectionSix.form.legalNotice2' | translate }}</a> 
                {{ 'sectionSix.form.legalNotice3' | translate }}
            </label>
        </div>

        <button>
            {{ 'sectionSix.form.send' | translate }}
        </button>
    </form>

</section>