<div class="imprint-wrapper">
    <app-header id="header"></app-header>
    <section>
        <div class="section-wrapper">
            <h1>{{ 'imprint.headline' | translate }}</h1>
            <p>{{ 'imprint.legal' | translate }}</p>
            <p>{{ 'imprint.name' | translate }}<br>
                {{ 'imprint.street' | translate }}<br>
                {{ 'imprint.city' | translate }}<br>
            </p>
            <p><strong>{{ 'imprint.by' | translate }}</strong><br>
                {{ 'imprint.name' | translate }}<br>
            </p>
            <p><strong>{{ 'imprint.contact' | translate }}:</strong> <br>
                {{ 'imprint.phone' | translate }}<br>
                E-Mail: <a href='mailto:kontakt@lukas-schroeer.com'>{{ 'imprint.email' | translate }}</a></p>
            <p><strong>{{ 'imprint.disclaimer' | translate }}: </strong><br>
                <br>
                <strong>{{ 'imprint.content' | translate }}</strong><br>
                <br>
                {{ 'imprint.contentText' | translate }}<br>
                <br>
                <strong>{{ 'imprint.links' | translate }}</strong><br><br>
                {{ 'imprint.linksText' | translate }}<br>
                <br>
                <strong>{{ 'imprint.copyright' | translate }}</strong><br><br>
                {{ 'imprint.copyrightText' | translate }}<br>
                <br>
                <strong>{{ 'imprint.data' | translate }}</strong><br><br>
                {{ 'imprint.dataText' | translate }}<br>
            </p><br>
            {{ 'imprint.reference.buildBy' | translate }} 
            <a href="https://impressum-generator.de" rel="dofollow">{{ 'imprint.reference.generatorLink' | translate }} </a> 
            {{ 'imprint.reference.Guide' | translate }}
            <a href="https://websitewissen.com/website-erstellen" rel="dofollow">{{ 'imprint.reference.websiteLink' | translate }}</a>, 
            <a href="https://websitewissen.com/homepage-baukasten-vergleich" rel="dofollow">{{ 'imprint.reference.homepageLink' | translate }}</a> 
            {{ 'imprint.reference.and' | translate }}
            <a href="https://websitewissen.com/shopsysteme-vergleich" rel="dofollow">{{ 'imprint.reference.shopsLink' | translate }}</a>. 
            {{ 'imprint.reference.legalText' | translate }}
            <a href="https://www.kanzlei-hasselbach.de/" rel="dofollow">{{ 'imprint.reference.lawFirm' | translate }}</a>.

            <p style="margin-top: 56px; text-align: right;">Stand 12.08.2025</p>
        </div>
    </section>
</div>
<div class="cursor"></div>
<app-footer></app-footer>

<a class="up-btn" href="/imprint#header">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <title>arrow-up</title>
        <path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z" />
    </svg>
</a>