@import './../../styles.scss';

.imprint-wrapper {
    background: linear-gradient(20deg, rgba(28, 28, 28, 1) 40%, rgba(8, 70, 59, 1) 100%);
}

header {
    text-align: right;
    //    background-color: transparent;
    padding: 16px;
    max-width: 1440px;
    margin: 0 auto;
    // position: sticky;
    // top: 0;
    // left: 0;
    // right: 0;


    img {
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            scale: 1.1;
        }
    }
}

section {
    z-index: 1000;

    .section-wrapper {
        max-width: 1440px;
        margin: 64px auto 150px auto;
        padding: 0 16px;
        font-size: 18px;

        h1 {
            font-size: 40px;
            margin-bottom: 32px;
        }

        p {
            margin-bottom: 16px;
        }

        a {
            color: #3dcfb6;
        }
    }
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: #3DCFB6;
    pointer-events: none;
    box-shadow: 0 0 70px 35px #3DCFB6;
    transform: translate(-50%, -50%);
    transition: transform 0.05s ease;
    z-index: 0;
}

.up-btn {
    position: fixed;
    border: 1px solid #3dcfb6;
    border-radius: 50%;
    padding: 8px;
    height: 48px;
    width: 48px;
    right: 32px;
    bottom: 32px;
    backdrop-filter: blur(4px);
    transition: all 0.2s ease-in-out;

    svg {
        fill: #fff;
    }

    &:hover {
        background-color: rgba(61, 207, 182, 0.1);

        svg {
            
        }
    }
}