<section>
    <div class="left">
        <div>{{ 'sectionSix.contactMe' | translate }}</div>
        <h2>{{ 'sectionSix.together' | translate }}</h2>

        <h3>{{ 'sectionSix.problem' | translate }}</h3>
        <p>{{ 'sectionSix.formIntro' | translate }}<br>
            <br>
            {{ 'sectionSix.inNeed' | translate }}
            <span>{{ 'sectionSix.letsTalk' | translate }}</span>
        </p>
    </div>

    <form class="right" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="input-wrapper" (click)="focusInput(nameInput)">
            <label for="nameInput">{{ 'sectionSix.form.name' | translate }}</label>
            <input #name="ngModel" minlength="4" [(ngModel)]="contactData.name" id="nameInput" required #nameInput
                type="text" name="name" [placeholder]="!name.valid && name.touched 
                   ? ('sectionSix.form.nameWarning' | translate) 
                   : ('sectionSix.form.namePH' | translate)" [class.input-error]="!name.valid && name.touched" />
        </div>

        <div class="input-wrapper" (click)="focusInput(emailInput)">
            <label for="emailInput">{{ 'sectionSix.form.mail' | translate }}</label>
            <input #email="ngModel" [(ngModel)]="contactData.email" id="emailInput" required #emailInput type="text"
                name="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" [placeholder]="!email.valid && email.touched 
       ? ('sectionSix.form.emailWarning' | translate) 
       : ('sectionSix.form.mailPH' | translate)" [class.input-error]="!email.valid && email.touched" />

            <div class="error mb"
                [class.visible]="email.errors?.['pattern'] && email.touched && !email.errors?.['required']">
                {{ 'sectionSix.form.invalidMail' | translate }}
            </div>
        </div>

        <div class="input-wrapper" (click)="focusInput(messageInput)">
            <label for="messageInput">{{ 'sectionSix.form.matter' | translate }}</label>
            <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="messageInput" required
                #messageInput name="message" [placeholder]="!message.valid && message.touched 
                   ? ('sectionSix.form.messageWarning' | translate) 
                   : ('sectionSix.form.matterPH' | translate)" [class.input-error]="!message.valid && message.touched"
                style="overflow: hidden; max-height: 150px">
            </textarea>
        </div>

        <div class="confirm-wrapper">
            <input id="confirm-cb" type="checkbox" name="terms" [(ngModel)]="terms" #termsModel="ngModel" required
                [class.invalid]="formSubmitAttempt && !terms" />
            <label for="confirm-cb">
                {{ 'sectionSix.form.legalNotice1' | translate }}
                <a (click)="visitImprint()">{{ 'sectionSix.form.legalNotice2' | translate }}</a>
                {{ 'sectionSix.form.legalNotice3' | translate }}
            </label>
        </div>

        <div class="error mt" [class.visible]="formSubmitAttempt && !terms">
            {{ 'sectionSix.form.termsWarning' | translate }}
        </div>

        <!-- Erfolgsmeldung -->
        <span *ngIf="submittedSuccessfully" class="success">
            {{ 'sectionSix.form.success' | translate }}
        </span>

        <button type="submit" [class.btn-disabled]="!contactForm.valid">
            {{ 'sectionSix.form.send' | translate }}
        </button>

    </form>

</section>