<section>
    <div class="highlighted">Portfolio</div>
    <h2>Meine Projekte</h2>
    <p>Entdecken Sie hier eine Auswahl meiner Arbeiten - interagieren Sie mit den Prohekten, um die Projekte zu
        testen.</p>

    <div class="project-section">
        <div class="left">
            <ul>
                <li class="project" *ngFor="let project of projects" (mouseenter)="setHoveredProject(project.id)"
                    (mouseleave)="setHoveredProject(null)" (click)="openDialog(project)">
                    <h3>{{ project.title }}</h3>
                    <ul>
                        <li *ngFor="let tech of project.technologies">{{ tech }}</li>
                    </ul>
                </li>
            </ul>

            <app-project-dialog *ngIf="dialogVisible" [project]="selectedProject" [show]="dialogVisible"
                [close]="closeDialog"></app-project-dialog>
        </div>

        <div class="right">
            <ng-container *ngFor="let project of projects">
                <div *ngIf="hoveredProject === project.id" class="striped-container">
                    <img [src]="project.image" [alt]="'Projekt ' + project.title" />
                </div>
            </ng-container>
        </div>
    </div>
</section>