<section>
  <div class="highlighted">Portfolio</div>
  <h2>{{ 'sectionFour.myProjects' | translate }}</h2>
  <p>{{ 'sectionFour.porjectsIntro' | translate }}</p>

  <div class="project-section">
    <div class="left">
      <ul>
        <li class="project" *ngFor="let project of projects"
            (mouseenter)="setHoveredProject(project.id)"
            (mouseleave)="setHoveredProject(null)"
            (click)="openDialog(project)">
          <h3>{{ project.title }}</h3>
          <ul>
            <li *ngFor="let tech of project.technologies | keyvalue">
              {{ tech.value }}
            </li>
          </ul>
        </li>
      </ul>

      <app-project-dialog
        *ngIf="dialogVisible"
        [project]="selectedProject"
        [show]="dialogVisible"
        [close]="closeDialog"
        [next]="nextProject">
      </app-project-dialog>
    </div>

    <div class="right">
      <ng-container *ngFor="let project of projects">
        <div *ngIf="hoveredProject === project.id" class="striped-container">
          <img [src]="project.image" [alt]="'Projekt ' + project.title" />
        </div>
      </ng-container>
    </div>
  </div>
</section>
