<footer>
    <div class="link-tree">
        <img src="./assets/img/myLogo.svg" alt="Logo Lukas Schröer">
        <div>Frontend-Entwickler</div>
        <div>Bad Nauheim</div>
    </div>

    <div class="footer-claim FiraCodeFont">© Lukas Schröer 2025</div>

    <div class="link-tree">
        <a href="https://www.github.com/Brook-Soul-King" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/lukas-schröer-8785b8348" target="_blank">Linkedin</a>
        <a href="/imprint">Impressum</a>
    </div>
</footer>