@import './../../../styles.scss';

footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 32px 16px;
    @include flexer(center, space-between, row, 16px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .footer-claim {
        color: #3dcfb6;
    }

    img {
        margin-bottom: 16px;
    }

    .link-tree {
        text-align: left;
        @include flexer(left, center, column, 8px);

        a {
            &:hover {
                color: #3dcfb6;
                text-decoration: none;
            }
        }

    }
}

@media screen and (max-width: 700px) {
    footer {
        position: relative;
        padding: 32px 16px 64px 16px;

        .footer-claim {
            position: absolute;
            bottom: 16px;
            left: 0;
            right: 0;
            text-align: center;
        }
    }
}